.App {
  max-width: 1100px;
  margin: auto;
  margin-top: 10px;

  --slider-height: 10px;
  --slider-thumb: 20px;
  --slider-bg-color: #555;
  --slider-thumb-color: #eee;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  align-items: flex-start;
}

footer {
  position:absolute;
  bottom:0;
  left:0;
  padding:5px;
  text-align: center;
  width:100%;
  background-color: rgba(255, 255, 255, 0.1);
}

footer a {
  color: #ccc;
  margin: 0 1rem;
}

footer a:hover {
  color: #fff;
}

/* StatTable */

.statTable {
  text-align: left;  
  width: 100%;
  line-height: 2rem;
}

.statTable td {
  text-align: right;
}

.statTable tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.iconImg {
  max-width: 25px;
}

/* Panel */
.notIngamePanelTitle{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* The slider */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: var(--slider-height); /* Specified height */
  background: var(--slider-bg-color); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: var(--slider-thumb); /* Set a specific slider handle width */
  height: var(--slider-thumb); /* Slider handle height */
  background: var(--slider-thumb-color); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: var(--slider-thumb); /* Set a specific slider handle width */
  height: var(--slider-thumb); /* Slider handle height */
  background: var(--slider-thumb-color); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}